@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; 
  color: #111827; 
}

.center-screen {
  @apply flex items-center justify-center h-screen;
}
